.post-card {
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .post-card.analyzing {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  }
  
  .post-card:hover {
    background-color: #f8f9fa; /* Light gray */
  }
  
  .analyzing{
    height: 100%;
    width: 100%;
    border-radius: 16%;
    border: 2px solid grey;
  }
  
  .container{
    margin-top:10%;
  }
  .null{
    display: none;
  }